<!DOCTYPE html>
<html>
<head>
    <title>Actuarial Premium Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="menu-container">
    <h1 class="main-title">Actuarial Premium Calculator</h1>
    <p class="subtitle">Select Model Type:</p>

    <div class="menu-links">
    <a href="/single">Single Life Model</a>
    <span class="divider">|</span>
    <a href="/multiple">Multiple Life Model</a>
    <span class="divider">|</span>
    <a href="/description">Description</a>
    </div>
</div>

<div class="footer">
    © 2026 Davonn Lemuel Halomoan & Fidellya Sitorus
</div>

</body>
</html>